# Machine Readable Tables

To transfer data between researchers, we need to make _machine-readable tables_, i.e., tables that are easy to read into software.

[`astropy.table.Table`](https://docs.astropy.org/en/stable/table/) makes this easy.

You can create a machine-readable table several ways.  One way is to create the rows or the columns of data separately, then assemble them into a table, e.g.:

In [2]:
from astropy.table import Table
import numpy as np

aa = np.array([1, 4, 5], dtype=np.int32)
bb = [2.0, 5.0, 8.5]
cc = ['x', 'y', 'z']
dd = [10, 20, 30]

tbl = Table([aa, bb, cc, dd],
             names=('aa', 'bb', 'cc', 'dd'),
             meta={'name': 'first table'})

In [3]:
tbl

<Table length=3>
  aa     bb    cc    dd
int32 float64 str1 int32
----- ------- ---- -----
    1     2.0    x    10
    4     5.0    y    20
    5     8.5    z    30

You can then save this as a FITS table:

In [4]:
tbl.write('abcd_example.fits', overwrite=True)

Another way is to assemble the data through lists of dictionaries - this is basically the `json` format, and is the main data format used across the internet and in data science.

In [5]:
row1 = {'aa': 1, 'bb': 2.0, 'cc': 'x', 'dd': 10}
row2 = {'aa': 4, 'bb': 5.0, 'cc': 'y', 'dd': 20}
row3 = {'aa': 5, 'bb': 8.5, 'cc': 'z', 'dd': 30}
tbl = Table([row1, row2, row3],
             meta={'name': 'second table'})

In [6]:
tbl

<Table length=3>
  aa     bb    cc    dd
int32 float64 str1 int32
----- ------- ---- -----
    1     2.0    x    10
    4     5.0    y    20
    5     8.5    z    30

The latter approach is probably better for our data, because we can create a row for each measurement.

A third way is to write a `.csv`-formatted (comma-separated value) data set directly:

In [7]:
from astropy.io import ascii

In [8]:
data = """aa,bb,cc,dd
1,2.0,x,10
4,5.0,y,20
5,8.5,z,30"""
tbl = ascii.read(data)

In [9]:
tbl

<Table length=3>
  aa     bb    cc    dd
int32 float64 str1 int32
----- ------- ---- -----
    1     2.0    x    10
    4     5.0    y    20
    5     8.5    z    30

Once you've made that table, save it as a FITS table:

In [10]:
tbl.write('table.fits')